<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="../static/images/conlogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c2e2005f03.js" crossorigin="anonymous"></script>
  <title>About</title>
  <link rel="shortcut icon" href="../static/images/conlogo.png" type="image/svg+xml">
  <link rel="stylesheet" href="../static/cres.css">
</head>
<body>
  <header class="header" data-header style="width: 100%;">
    <div class="container" >
      <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="250px" ></a>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="75%" height="auto" style="margin-top: 60px;"></a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li><a href="about.html" class="navbar-link" style="color: gold;">About</a></li>
          <li><a href="events.html" class="navbar-link">Conclave</a></li>
          <li><a href="workshops.html" class="navbar-link">Workshops</a></li>
          <li><a href="stalls.html" class="navbar-link">Expo</a></li>
          <li><a href="contact.html" class="navbar-link">Contact</a></li>
          <li><a href="https://unstop.com/p/crescon24-bs-abdur-rahman-crescent-institute-of-science-and-technology-chennai-936980" target="_blank" class="navbar-link" style="color: rgb(0, 238, 255); text-decoration: underline;">Register</a></li>
        </ul>
      </nav>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>
  <main>
    <article>
    <div class="container">
      <section class="abt">
        <h1>About B S Abdur Rahman Crescent Institute of Science and Technology</h1>
        <h5>(Formerly known as Crescent Engineering college) was founded by Mr. B. S. Abdur Rahman in 1984.</h5>
        <div class="container3 even">
          <div class="column3 image" style=" display: flex; justify-content: center; align-items: center;">
            <img src="../static/images/crescent-pic.jpg" alt="" >
          </div>
          <div class="column3  content">
            <p>
              It is among one of the top universities in the country and it also is recognized for its “Sustainable Development Growth” initiatives.  Our esteemed institution serves as an intellectual beacon, challenging conventional paradigms while igniting a fervent pursuit of knowledge.
            </p>
            <p>
              Its unparalleled pedagogical approach fosters a culture of self-improvement and healthy competition among students and scholars alike. Beyond its commitment to academic excellence, the verdant campus and meticulously curated student life offerings are tailored to maximize the holistic educational experience.
            </p>
            <p>Through a diverse range of educational initiatives and bespoke clubs designed to nurture personal and professional growth, we cultivate a sense of belonging that transcends mere academic pursuit, establishing a lifelong home for our community.
            </p>
          </div>
        </div>
      </section>
      <section class="abt">
        <h1>About the  Crescent Student Council</h1>
        <div class="container3 odd">
          <div class="column3 image" style=" display: flex; justify-content: center; align-items: center;">
            <img src="../static/images/std council-pic.jpg" alt="">
          </div>
          <div class="column3 content">
           <p>The CRESCENT STUDENT COUNCIL is an executive body under the Office of the Student Affairs composed of students to address issues and concerns affecting the student body. 
          </p>
           <p>
            It also works on the development of the students by conducting various events including seminars, workshops, etc.
          </p>
           <p>
            They serve as a liaison between students, faculty, and administration, voicing student opinions and concerns to the university's decision-makers.
           </p>
           <p>
            In brief, Crescent Student Council serves as a platform for student leadership, engagement, and representation within the campus community, working to enhance the overall student experience and contribute to the academic and social development of the institution.
           </p> 
          </div>
        </div>
      </section>
      <section>  
        <h1>Crescent Student Council Office Bearers</h1>
        <div class="about-container5">
          <div class="about-card3">  
            <h4>Mr. Vijayenthira Poopathy.DG</h4>
            <h5>President</h5>
          </div>
          </div>
          <div class="about-container5">
            <div class="about-card3">
              <h4>Mr. Sharan Dillibabu</h4>
              <h5>Vice-President(Boys) </h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Poojha S</h4>
              <h5>Vice-President (Girls)</h5>
            </div>
          </div>

          <div class="about-container5">
            <div class="about-card3">             
              <h4>Mr.Syed Ahmed</h4>
              <h5>Secretary (Boys)</h5>
            </div>
            <div class="about-card3">
              <h4>Ms Charumathi. P</h4>
              <h5>Secretary (Girls)</h5>
            </div>
          </div>


          <div class="about-container5">
            <div class="about-card3">
              <h4>Mr. Nandha Kumar R</h4>
              <h5>Jt. Secretary (Boys)</h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Noor Hammna Anwardeen</h4>
              <h5>Jt. Secretary (Girls)</h5>
            </div>
          </div>

          <div class="about-container5">
            <div class="about-card3">
              <h4>Mr. Nandha Kumar R</h4>
              <h5>Treasurer</h5>
            </div>
            <div class="about-card3">
              <h4>Mr. Gokul Raam G</h4>
              <h5>Public Relations Officer</h5>
            </div>
          </div>

          <div class="about-container5">
            <div class="about-card3">
              <h4>Mr.Balaji</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Ms.Cassandra Rifflin C.R</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Mr. Mohd. Rayanuddeen.S</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Karthikaa R</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Mr.Kavinvelan .S</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Devidara M N</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Asma Nowmin. A</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Mr.Sathish .S</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Mr. Shrinivas J R</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Ms. Sindhu.C</h4>
              <h5>Executive Member</h5>
            </div>
            <div class="about-card3">
              <h4>Mr. Fawwaz Khan</h4>
              <h5>Executive Member</h5>
            </div>
          </div>



        </div>
      </section>
    </div>
  </article>
  </main>


  <footer>
    <div class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <ul class="links">
            <img src="../static/images/Crescon_Student Council Logo.png" alt="logo" style="width: 125px; height: 125px;">
            <img src="../static/images/CDMT gold.png" alt="logo" style="width: 140px; height: 140px;">
          </ul>
        </div>
        <div class="footer-col">
          <h3>Contact</h3>
          <ul class="links">
            <p>Vijayenthira Poopathy D G</p>
            <a href="tel:+91 9489093333" class="contact-link">+91 79489093333</a>
            <p>Charumathi P</p>
            <a href="tel:+91 9710260259" class="contact-link">+91 9710260259</a>
          </ul>
        </div>
        <div class="footer-col">
          <h3>Connect with us</h3>
          <div class="icons" style="text-align: center;">
            <a href="https://x.com/bsacist_sc?s=21" class="social-link">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/studentcouncil_crescent?igsh=Nmhtend2czMwbjh5&utm_source=qr" class="social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://youtube.com/@CrescentStudentCouncil?si=a_VDIrurhXYb2D7S" class="social-link">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="footer-col">
          <h3>Location</h3>
          <p style="font-weight: bold;">BSACIST</p>
          <p>120 Seethakathi Estate,<br> Grand Southern Trunk Rd,<br> Vandalur, Tamil Nadu 600048<br> www.crescent.education</p>
        </div>
      </div>
      <div class="footer-row" style="padding: 10px;color: aqua; justify-self: center;">
        <p>Copyrights © 2024-All Rights Reserved. CDMT</p>
      </div>
    </div>
  </footer>


  <script src="../static/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
