<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="../static/images/conlogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c2e2005f03.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyA8g+YIcRMIJ3/cP5q9kOOplz9o+gqbc" crossorigin="anonymous">
  <title>CresCon</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="../static/images/conlogo.png" type="image/svg+xml">
  <link rel="stylesheet" href="../static/cres.css">
</head>
<body>
  <header class="header" data-header style="width: 100%;">
    <div class="container" >
      <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="250px" ></a>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="75%" height="auto" style="margin-top: 60px;"></a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li><a href="about.html" class="navbar-link">About</a></li>
          <li><a href="events.html" class="navbar-link">Conclave</a></li>
          <li><a href="workshops.html" class="navbar-link">Workshops</a></li>
          <li><a href="stalls.html" class="navbar-link">Expo</a></li>
          <li><a href="contact.html" class="navbar-link">Contact</a></li>
          <li><a href="https://unstop.com/p/crescon24-bs-abdur-rahman-crescent-institute-of-science-and-technology-chennai-936980" target="_blank" class="navbar-link" style="color: rgb(0, 238, 255); text-decoration: underline;">Register</a></li>
        </ul>
      </nav>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>
  <main>
    <article>
      <section>
        <div class="container-home" style="display: flex; flex-direction: column;">
          <div class="lgcon">
            <div class="logo1">
              <img src="../static/images/stdaffairs.png" alt="logo" style="max-width: 100px;">
            </div>
            <div class="logo1">
              <img src="../static/images/cres.png" alt="logo" style=" display: flex; align-items: center;">
            </div>
            <div class="logo1">
              <img src="../static/images/Student Council Logo.png" alt="logo" style="max-width: 100px;">    
            </div>
          </div>
          <div class="lgcon" style="width: 100%;display: flex; flex-direction: column;">
              <img src="../static/images/CRESCONeee.png" alt="crescon" width="80%" height="auto">
            </div>
          <div class="lgcon" style="margin-top: -100px;">
            <img src="../static/images/date.png" alt="date" width="200px" height="auto">
          </div>
        </div>
      </section>

      <section class="section hero" aria-label="home">
        <div class="container">
          <div class="hero-content" style="margin-top: -100px;">
            <h1 class="h1 hero-title" data-reveal="top" data-reveal-delay="0.2s" style="text-align: left;">About CresCon'24</h1>

            <p style="font-size: 18px; text-align: left; max-width: 1200px; margin-top: 30px; text-align: justify; margin-inline: 20PX;"> 
              Crescon24, taking place on April 15th, 16th, and 17th, offers a dynamic three-day event fostering a symbiotic relationship between speakers and students. Through panel discussions, workshops, and student-led activities, it facilitates a vibrant exchange of knowledge and ideas. With 60 stalls showcasing innovations and offering branded promotions, Crescon24 provides a platform for connection, collaboration, and enrichment for all involved.
            </p>
            <ul class="grid-list" style="margin-top: 40px;">
              <li data-reveal="bottom">
                <div class="about-card">
                  <h3 class="h4 card-title">Theme</h3>
                  <p class="card-text">Crescon'24 - Explore, Excel, and Empower, the pioneer national-level convention dedicated to the pursuit of a sustainable future.</p>
                </div>
              </li>
              <li data-reveal="bottom" data-reveal-delay="0.25s">
                <div class="about-card">
                  <h3 class="h4 card-title">Objective</h3>
                  <p class="card-text">It stands as a testament to the innovative spirit of our university, aiming to pave the way for transformative change.</p>
                </div>
              </li>
              <li data-reveal="bottom" data-reveal-delay="0.5s">
                <div class="about-card">
                  <h3 class="h4 card-title">Participation</h3>
                  <p class="card-text">Bringing together thought leaders, experts, professionals, students, and enthusiasts from diverse fields under one roof.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section about" aria-label="about" style="margin-top: -100px;">
        <div class="container">
          <div class="wrapper">
            <div data-reveal="left">
              <h1 class="h1 section-title">Purpose of the event</h1>
              <p class="section-text" style="text-align: justify; margin-inline: 20px;">The platform features diverse events like speeches, panel discussions, workshops, and seminars by accomplished speakers and guests in various fields and art forms. It celebrates excellence across science, art, business, and humanities, showcasing the richness and versatility of human achievement.</p>
            </div>
          </div>
          <ul class="grid-list" style="margin-top: 20px;">
            <li data-reveal="bottom">
              <div class="about-card">
                <h3 class="h4 card-title">Enlightening Minds</h3>
                <p class="card-text">The primary objective of our informative and entertaining event is to enlighten the students at our university and beyond. To educate them about various factors required to develop themselves and our society.</p>
              </div>
            </li>
            <li data-reveal="bottom" data-reveal-delay="0.25s">
              <div class="about-card">
                <h3 class="h4 card-title">Workshops</h3>
                <p class="card-text">Workshops can equip students with hands-on skills, enhancing their capabilities in areas such as communication, problem-solving, or technical expertise. Hearing from experts in various fields during panel discussions can expose students to diverse perspectives and insights.</p>
              </div>
            </li>
            <li data-reveal="bottom" data-reveal-delay="0.5s">
              <div class="about-card">
                <h3 class="h4 card-title">CC-24 EXPO</h3>
                <p class="card-text">Cc24 Expo..Explore the latest cool stuff at the Crescon'24 Expo. A showcase of cutting-edge technologies, groundbreaking research, and revolutionary ideas  of advancement driving the technical society and contributing to further technological innovations.</p>
              </div>
            </li>
          </ul>
          <div class="wrapper">
            <div data-reveal="left">
              <h1 class="h1 section-title" style="margin-top: 20px;">Target of the event</h1>
              <p class="section-text" style="text-align: justify; margin-inline: 20px;">Students gain exposure to successful personalities, enhancing their knowledge across diverse fields. This event fosters holistic development by addressing academic, professional, cultural, and personal aspects. It cultivates an environment promoting learning, collaboration, and excellence in various dimensions.</p>
            </div>
          </div>
          <div class="wrapper">
            <div data-reveal="left">
              <h1 class="h1 section-title" style="margin-top: 20px;">Career Guidance – Seminar</h1>
              <p class="section-text" style="text-align: justify; margin-inline: 20px;">A tailored career guidance seminar for university students offers benefits beyond the classroom. It provides clarity on career goals, helping align skills and passions with viable options. Seminars also outline skill development roadmaps, empowering students to acquire competencies through coursework and internships. Networking opportunities with industry professionals and alumni enhance prospects for mentorship, internships, and job placements. For graduating students, these seminars aid post-graduation planning, contributing to a smoother transition into the professional realm. Overall, they serve as comprehensive support systems, empowering students for success beyond university.</p>
            </div>
          </div>
          <h1>Sponsors</h1>
          <div class="about-container5">
            <div class="sponsor-card">
              <img src="../static/images/sathya.jpg" alt="Profile Image">
              <h4>Sathya Agencies</h4>
            </div>
            <div class="sponsor-card">
              <img src="../static/images/ssn.jpg" alt="Profile Image">
              <h4>SSN Steals</h4> 
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <div class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <ul class="links">
            <img src="../static/images/Crescon_Student Council Logo.png" alt="logo" style="width: 125px; height: 125px;">
            <img src="../static/images/CDMT gold.png" alt="logo" style="width: 140px; height: 140px;">
          </ul>
        </div>
        <div class="footer-col">
          <h3>Contact</h3>
          <ul class="links">
            <p>Vijayenthira Poopathy D G</p>
            <a href="tel:+91 9489093333" class="contact-link">+91 79489093333</a>
            <p>Charumathi P</p>
            <a href="tel:+91 9710260259" class="contact-link">+91 9710260259</a>
          </ul>
        </div>
        <div class="footer-col">
          <h3>Connect with us</h3>
          <div class="icons" style="text-align: center;">
            <a href="https://x.com/bsacist_sc?s=21" class="social-link">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/studentcouncil_crescent?igsh=Nmhtend2czMwbjh5&utm_source=qr" class="social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://youtube.com/@CrescentStudentCouncil?si=a_VDIrurhXYb2D7S" class="social-link">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="footer-col">
          <h3>Location</h3>
          <p style="font-weight: bold;">BSACIST</p>
          <p>120 Seethakathi Estate,<br> Grand Southern Trunk Rd,<br> Vandalur, Tamil Nadu 600048<br> www.crescent.education</p>
        </div>
      </div>
      <div class="footer-row" style="padding: 10px;color: aqua; justify-self: center;">
        <p>Copyrights © 2024-All Rights Reserved. CDMT</p>
      </div>
    </div>
  </footer>
  <script src="../static/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
