<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="../static/images/conlogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c2e2005f03.js" crossorigin="anonymous"></script>
  <title>Workshops</title>
  <link rel="shortcut icon" href="../static/images/conlogo.png" type="image/svg+xml">
  <link rel="stylesheet" href="../static/cres.css">

</head>

<body>
  <header class="header" data-header style="width: 100%;">
    <div class="container" >
      <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="250px" ></a>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="http://crescon24.com/"><img src="../static/images/cresconfont_v1.png" alt="crescon" width="75%" height="auto" style="margin-top: 60px;"></a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li><a href="about.html" class="navbar-link">About</a></li>
          <li><a href="events.html" class="navbar-link">Conclave</a></li>
          <li><a href="workshops.html" class="navbar-link" style="color: gold;">Workshops</a></li>
          <li><a href="stalls.html" class="navbar-link">Expo</a></li>
          <li><a href="contact.html" class="navbar-link">Contact</a></li>
          <li><a href="https://unstop.com/p/crescon24-bs-abdur-rahman-crescent-institute-of-science-and-technology-chennai-936980" target="_blank" class="navbar-link" style="color: rgb(0, 238, 255); text-decoration: underline;">Register</a></li>
        </ul>
      </nav>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>

  <main>
    <article>
      <section class="section project" aria-labelledby="project-label" style="margin-top: -50px;" >
        <div class="container">
          <div class="title-wrapper" data-reveal="top">
            <div>
              <h1>Workshops</h1>
            </div>
          </div>
          <ul class="grid-list" style="flex-direction: column;">
            <li>
              <div class="project-card project-card-1"  >
                <div class="card-content" data-reveal="left">
                  <h1 class="h1 card-title">Design Storm</h1>
                  <p class="card-text" style="text-align: justify;">                    
                    "Design Storm: Design Workshop for Beginners" is a comprehensive workshop that introduces participants to the fundamentals of graphic design using Canva. Led by Zeena Qaaida, Co-Founder of CDMT and a seasoned freelance designer, this workshop promises an immersive learning experience. Participants will learn essential design principles, explore Canva's features, and engage in hands-on exercises to create captivating graphics. Whether you're a student, professional, or entrepreneur, this workshop will equip you with practical skills to enhance your design capabilities. Join us at CresCon '24 and unlock your creativity!
                   </p>         
                </div>
              </div>
            </li>
            <li>
              <div class="project-card project-card-1"  >
                <div class="card-content" data-reveal="left">
                  <h1 class="h1 card-title">SustainaVerse</h1>
                  <p class="card-text" style="text-align: justify;">                    
                    "SustainaVerse: Coding a Sustainable Universe" Welcome to our Sustainable Development Codeathon! This event is a groundbreaking initiative where participants collaborate to develop software solutions tackling pressing sustainability challenges. Our codeathon is a platform for innovation. Join us to harness diverse perspectives and expertise in addressing global issues. Whether you're a seasoned developer or passionate about sustainability, this is your chance to make a difference. Let's come together to create impactful solutions and pave the way for a more sustainable future.
                   </p>         
                </div>
              </div>
            </li>
          </ul>


          <div class="title-wrapper" data-reveal="top">
            <div>
              <h1>Seminars</h1>
            </div>
          </div>
          <ul class="grid-list" style="flex-direction: column;">
            <li>
              <div class="project-card project-card-1"  >
                <div class="card-content" data-reveal="left">
                  <h1 class="h1 card-title">FutureScape</h1>
                  <p class="card-text" style="text-align: justify;">                    
                    "FutureScape: Navigating Gen AI - A Seminar on Inclusive AI for Next-Gen Empowerment"
                    Come explore the fascinating world of AI catered to Gen Z as well as future generations at our tech seminar on Gen AI. Explore a new generation of AI systems made to appeal people from diverse backgrounds. With cutting-edge technology that is accessible, inclusive, and intuitive, Gen AI promises to empower people through everything from industry revolutions to daily productivity enhancements. Take advantage of this chance to learn how Gen AI is influencing the future and how you can use it to advance your career and personal life.
                  </p>         
                </div>
              </div>
            </li>
          </ul>


        </div>
      </section>
    </article>
  </main>

  <footer>
    <div class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <ul class="links">
            <img src="../static/images/Crescon_Student Council Logo.png" alt="logo" style="width: 125px; height: 125px;">
            <img src="../static/images/CDMT gold.png" alt="logo" style="width: 140px; height: 140px;">
          </ul>
        </div>
        <div class="footer-col">
          <h3>Contact</h3>
          <ul class="links">
            <p>Vijayenthira Poopathy D G</p>
            <a href="tel:+91 9489093333" class="contact-link">+91 79489093333</a>
            <p>Charumathi P</p>
            <a href="tel:+91 9710260259" class="contact-link">+91 9710260259</a>
          </ul>
        </div>
        <div class="footer-col">
          <h3>Connect with us</h3>
          <div class="icons" style="text-align: center;">
            <a href="https://x.com/bsacist_sc?s=21" class="social-link">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/studentcouncil_crescent?igsh=Nmhtend2czMwbjh5&utm_source=qr" class="social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://youtube.com/@CrescentStudentCouncil?si=a_VDIrurhXYb2D7S" class="social-link">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="footer-col">
          <h3>Location</h3>
          <p style="font-weight: bold;">BSACIST</p>
          <p>120 Seethakathi Estate,<br> Grand Southern Trunk Rd,<br> Vandalur, Tamil Nadu 600048<br> www.crescent.education</p>
        </div>
      </div>
      <div class="footer-row" style="padding: 10px;color: aqua; justify-self: center;">
        <p>Copyrights © 2024-All Rights Reserved. CDMT</p>
      </div>
    </div>
  </footer>
  

  <script src="../static/script.js"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>